<h1>Reset Your Password</h1>
<%= form_with url: password_reset_edit_path do |form|%>
   <div  class ="mb-3">
     <%= form.label :password %><br>
     <%= form.password_field :password, class: "form-control",placeholder:"password" %>
    </div>

    <div  class ="mb-3" style="background-color:green">
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation , class: "form-control",placeholder:"password"%>
    </div>

 <div  class ="mb-3">
   <%= form.submit "Reset Password",class: "btn btn-primary", "data-turbo"=>"false"%>
 </div>
 <%end%>